.container {
  text-align: center;
  margin-top: 100px;
}

.counter-box {
  display: inline-block;
  margin: 20px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 14px;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  font-weight: bold;
}

.text {
  margin-left: 10px;
  font-size: 18px;
  color: green;
}
